<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Users</title>
</head>
<body>
    <h1>All Users</h1>
    
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Age</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <th scope="row">{{user.id}}</th>
                <td>{{user}}</td>
                <td>{{user.email}}</td>
                <td>{{user.age}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Add a User</h2>


    <form action="/create" method="POST">
        {% csrf_token %}
        <div class="row m-2">
            <div class="col">
                <input type="text" class="form-control" name="first_name" placeholder="First name">
            </div>
            <div class="col">
                <input type="text" class="form-control" name="last_name" placeholder="Last name">
            </div>
        </div>
        <div class="row m-2">
            <div class="col">
                <input type="text" class="form-control" name="email" placeholder="Email">
            </div>
            <div class="col">
                <input type="text" class="form-control" name="age" placeholder="Age">
            </div>
        </div>
        <button type="submit" class="btn btn-primary text-center">Add New User</button>
    </form>
</body>
</html>